@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@theme {
  --font-sans: 'Ubuntu', sans-serif;
}

@layer components {
  [data-signup-progress] {
    counter-reset: signup-progress;
  }

  [data-progress-step] {
    counter-increment: signup-progress;
  }

  [data-progress-step]::before {
    content: counter(signup-progress);
    @apply grid size-8 place-content-center rounded-full border-2 font-medium text-blue-50;
  }

  [data-progress-step='NotStarted']::before {
    @apply border-dotted border-yellow-400 bg-yellow-600;
  }

  [data-progress-step='Current']::before {
    @apply border-cyan-400 bg-cyan-600;
  }

  [data-progress-step='Completed']::before {
    content: '✓';
    @apply border-green-400 bg-green-600;
  }

  .btn-primary {
    @apply rounded-lg border-2 border-blue-500 bg-blue-500 px-3 py-2 text-white shadow-sm focus:outline-2 focus:outline-offset-2 focus:outline-blue-500;
  }

  .btn-ghost {
    @apply rounded-lg border-2 border-blue-500 px-3 py-2 text-blue-700 shadow-sm focus:outline-2 focus:outline-offset-2 focus:outline-blue-500;
  }

  .expanded-option-region {
    @apply relative flex flex-row-reverse justify-between rounded-xl border-2 border-gray-300 p-4 shadow-md focus-within:outline-2 focus-within:outline-offset-2 focus-within:outline-blue-500 has-checked:border-blue-500 has-checked:bg-blue-50;
  }

  .expanded-option {
    @apply before:absolute before:top-0 before:left-0 before:block before:h-full before:w-full before:content-[''] focus:ring-0;
  }
}
